<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Cedar Chapel Woodworks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                {{ nav:collection:pages include_home="true" }}
                <li class="nav-item">
                    <a class="nav-link {{ is_current ?= 'active' }}" aria-current="page"
                        href="{{ url }}">{{ title }}</a>
                </li>
                {{ /nav:collection:pages }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ homepage }}#about-us">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ homepage }}#contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>