<section id="hero"
    style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ hero_background_image }}')">
    <div class="container text-left">
        <h1>{{ hero_title }}</h1>
        {{ hero_buttons }}
        <a href="{{ hero_button_url }}" class="btn btn-alt me-2">{{ hero_button_text }}</a>
        {{ /hero_buttons }}
    </div>
</section>
<section id="recent-work">
    <div class="container">
        <div class="row">
            <div class="col-12 title-style">
                <h2>{{ our_work_title }}</h2>
                <br>
                <br>
                {{# <h3>{{ our_work_subtitle }}</h3> #}}
            </div>
            {{ partial:projects/project-list-layout }}
            <div class="col-12 mt-3 text-end">
                <a href="{{ our_work_button_url }}" class="btn btn-cta">{{ our_work_button_text }}</a>
            </div>
        </div>
    </div>
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div id="about_bg" class="col-lg-4 col-xs-12 order-2 order-lg-1"
                style="background-image: url('{{ about_image }}');"></div>
            <div class="col-lg-8 col-xs-12 order-1 order-lg-2">
                <div class="title-style">
                    <h2>{{ about_title }}</h2>
                    <h3>{{ about_subtitle }}</h3>
                </div>
                <div class="about-text">
                    {{ about_paragraph }}
                </div>
                <a href="{{ about_button_url }}" class="btn btn-cta">{{ about_button_text }}</a>
            </div>
        </div>
    </div>
</section>
<section id="contact-us" class="pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-style">
                    <h2>{{ contact_us_title }}</h2>
                    <h3>{{ contact_us_subtitle }}</h3>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-xs-12">
                        {{# {{ contact_us_description }} #}}
                        <form class="contactForm">
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Name"
                                    aria-label="default input example">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Company"
                                    aria-label="default input example">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Email"
                                    aria-label="default input example">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Phone"
                                    aria-label="default input example">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Additional Information" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <a href="" class="btn btn-cta">Submit</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-xs-12 offset-lg-1"
                        style="background-image: url('{{ contact_us_background_image }}');">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>