<section id="project-details-hero" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ project_hero_image }}');">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
</section>
<section id="project-photos">
    <div class="container">
        <div class="row mt-5">
            {{ project_gallery_images }}
            <div class="col-6">
                <div class="project-photo" style="background-image: url('{{ gallery_image }}');">
                </div>
            </div>
            {{ /project_gallery_images }}
        </div>
    </div>
</section>
<!-- Project Photos Section -->
{{ collection:pages banner_background_image:exists="true" limit="1" }}
<section id="contact_banner" style="background-image: linear-gradient(0deg, rgb(178, 34, 34, .7), rgb(178, 34, 34, .7)), url('{{ banner_background_image }}');">
    <div class="container-fluid">
        <div class="row text-center mt-4">
            <div class="col-12">
                <h2>{{ banner_title }}</h2>
                <a href="/" class="btn btn-alt">Contact Us</a>
            </div>
        </div>
    </div>
</section>
{{ /collection:pages }}