/* resources/css/app.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Global Styles */
:root {
    --main-red-color: #B22222;
    --light-gray: #dedede;
    --nav-text-color: #fff;
    --project-modal-width: fit-content !important;
}

.hidden { display: none; }

nav.navbar {
    padding: 0px; 
    .navbar-brand {
        color: var(--nav-text-color);
        img { max-width: 70% !important; transition: all ease-in-out .3s;}
    }
    .nav-item {
        color: var(--nav-text-color);
        .nav-link { padding: 29px 20px; color: var(--nav-text-color); font-size: 20px; transition: all ease-in-out .2s; 
            &:hover{ font-weight: 700; transition: all ease-in-out .2s;} }
    }
    &.scrolled {
        background-color: var(--nav-text-color);
        box-shadow: var(--light-gray) 0px 0px 8px 0px;
        .navbar-brand {
            color: #000;
            img { max-width: 150px !important; transition: all ease-in-out .3s; }
        }
        .nav-item {
            .nav-link { color: #000; transition: all ease-in-out .2s; }
            &:last-child {
                background-color: var(--main-red-color);
                .nav-link { color: var(--nav-text-color); }

                &:hover {
                    background-color: var(--main-red-color);
                    color: var(--nav-text-color);
                }
            }
            .nav-link:hover {
                background-color: var(--main-red-color);
                color: var(--nav-text-color);
                font-weight: 700;
                transition: all ease-in-out .2s;
            }
        }
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
}

.title-style {
    h2 {
        font-size: 30px;
        margin-top: 3em;
        margin-bottom: 0px;
        color: var(--main-red-color);
        font-weight: 700;
    }

    h3 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 1em;
    }
}


.btn-cta {
    color: #fff;
    background-color: var(--main-red-color);
    margin-top: 10px;
    border-radius: 0px;
    transition: all ease-in-out .3s;
    &:hover {
        color: #fff;
        background-color: #212120;
        transition: all ease-in-out .3s;
    }
}


.btn-alt {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    border-radius: 0px;
    transition: all ease-in-out .3s;
    &:hover {
        border-color: #fff;
        background-color: #fff;
        color: #000;
        transition: all ease-in-out .3s;
    }
}


/* HOMEPAGE  */
#hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 325px 0;
    color: #fff;
    h1 {
        color: #fff;
        font-size: 75px;
        @media (min-width: 992px){
            width: 60%;
        }
    }
}

section#about-us {
    background-color: var(--light-gray);
    padding: 6em 0;
    color: #000;

    .title-style {
        h2 {
            margin-top: 0px;
        }
    }
    #about_bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        min-height: 400px;
    }
    .about-text p strong{ color: var(--main-red-color); }
    @media (max-width: 991px) {
        padding-bottom: 0px !important;

        #about_bg {
            margin-top: 2em;
        }
    }
    @media (min-width: 992px) {
        .col-lg-8,
        .col-xs-12:nth-child(2) {
            padding-left: 100px;
        }
    }
}

section#contact-us {
    .col-lg-6,
    col-xs-12:last-child {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 400px;
    }
    .form-fields input, .form-fields textarea {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
}

/* Project Landing Page */

section#projects-hero {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 225px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }

    h2 {
        font-size: 20px;
        color: #fff;
        font-weight: 200;
    }
}

#recent-work, #projects {
    padding: 3rem 0;
  
    .container {
      .row {
        .col-xl-4, .col-md-6, .col-xs-12 {
          padding-bottom: 1rem;
          margin-bottom: 0.5rem;
          .project-link {
            display: block;
            position: relative;
            text-decoration: none;
            .image-container {
              position: relative;
              .project-image {
                width: 100%;
                height: auto;
                display: block;
                transition: transform 0.3s ease;
              }
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.4);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 1;
                padding: 1rem;
                .title-overlay {
                  color: #ffffff;
                  font-size: 1.5rem;
                  font-weight: bold;
                  text-align: center;
                  margin-bottom: 1rem;
                }
                .view-project-btn {
                  display: none;
                }
              }
              &:hover {
                .project-image {
                  transform: scale(1.05);
                }
                .view-project-btn {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
  
  .projectImageModal {
    .modal-body { padding: 0px; }
    .modal-dialog { max-width: var(--project-modal-width); }
  }

section#contact_banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 75px 0;
    margin-top: 50px;

    h2 {
        color: #fff;
        font-size: 55px;
    }

    a {
        padding: 6px 60px;
    }
}

/* Project Details Page */
section#project-details-hero {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }
}

section#project-photos {

    .col-6 {
        padding: 12px;
    }

    .project-photo {
        background-position: center;
        background-size: cover;
        padding: 175px 0;
    }
}

/* Footer */
section#footer {
    background-color: var(--main-red-color);
    color: #fff;

    a {
        color: #fff;
    }
}