/* resources/css/app.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Global Styles */
:root {
    --main-red-color: #B22222;
    --light-gray: #dedede;
    --nav-text-color: #fff;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
}

.title-style {
    h2 {
        font-size: 30px;
        margin-top: 3em;
        margin-bottom: 0px;
        color: var(--main-red-color);
        font-weight: 700;
    }

    h3 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 1em;
    }
}



.btn-cta {
    color: #fff;
    background-color: var(--main-red-color);
    margin-top: 10px;
    border-radius: 0px;

    &:hover {
        color: #fff;
        background-color: #212120;
    }
}


.btn-alt {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    border-radius: 0px;

    &:hover {
        border-color: #d4d6d5;
        color: #d4d6d5;
    }
}


/* HOMEPAGE  */
#hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 325px 0;
    color: #fff;
    h1 {
        color: #fff;
        font-size: 75px;
    }
}

section#about-us {
    background-color: var(--light-gray);
    padding: 6em 0;
    color: #000;

    .title-style {
        h2 {
            margin-top: 0px;
        }
    }
    #about_bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        min-height: 400px;
    }
    @media (max-width: 991px) {
        padding-bottom: 0px !important;

        #about_bg {
            margin-top: 2em;
        }
    }
    @media (min-width: 992px) {
        .col-lg-8,
        .col-xs-12:nth-child(2) {
            padding-left: 100px;
        }
    }
}

section#contact-us {
    .col-lg-6,
    col-xs-12:last-child {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 400px;
    }
}